[Unit]
Description=API Gateway Service Application
After=network.target

[Service]
Environment="QUOTES_API=http://localhost:5000"
User=devopsjayesh98
WorkingDirectory=/var/www/simple-microservice-example/ApiGateway
ExecStart=npm run start
Restart=always

[Install]
WantedBy=multi-user.target
