[Unit]
Description=Quote Service Application
After=network.target

[Service]
User=bryandixon
WorkingDirectory=/home/bryandixon/simple-microservice-example/QuoteService/
ExecStart=/home/bryandixon/simple-microservice-example/QuoteService/venv/bin/python /home/bryandixon/simple-microservice-example/QuoteService/main.py
Restart=always

[Install]
WantedBy=multi-user.target